@import url(../common.css);

.footer__container {
  max-width: 90rem;
  margin: 0 auto;
  min-height: 5rem;
  background-color: var(--light-blue-color);
}

.footer__text {
  margin: 0;
  padding: 2.5rem 0 0 12.125rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.01rem;
  line-height: 0.6663rem;
  color: var(--white-color);
}